@keyframes moveGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    background: linear-gradient(90deg, #0A0B0D, #2D3540, #1C2026, #465059);
    background-size: 300% 300%;
    animation: moveGradient 40s infinite linear;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    height: 100vh;
}

.text {
    position: fixed;
    color: white;
    font-size: 55px; 
    font-weight: bold;
    top: -5px; 
    left: 50%;
    transform: translateX(-50%); 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 0 0 25px rgba(0, 255, 255, 0.8), 0 0 5px rgba(0, 255, 255, 0.8); /* Постійне світіння */
}

#menu {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
    color: blue;
    background: linear-gradient(90deg, #0b5cff, #2964b6, #88862d, #bdca0b);
    background-size: 300% 300%;
    animation: moveGradient 15s infinite linear;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

input, button {
    font-weight: bold;
    top: 30px;
    width: 80%;
    padding: 20px;
    margin: 10px 50px;
    border-radius: 8px;
    border: 1px solid rgb(29, 29, 29);
    font-size: 15px;
    background-color: rgb(29, 29, 29);
    color: #ffffff;
    box-sizing: border-box;
    display: block;
}

button {
    background: linear-gradient(90deg,  #0A0B0D, #2D3540, #1C2026, #465059);
    background-size: 300% 300%;
    animation: moveGradient 15s infinite linear;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

button:hover {
    background: linear-gradient(90deg,  #0A0B0D, #2D3540, #1C2026, #465059);
    background-size: 300% 300%;
    animation: moveGradient 15s infinite linear;
}

button:active {
    transform: scale(0.98);
    background: linear-gradient(90deg,  #0A0B0D, #2D3540, #1C2026, #465059);
    background-size: 300% 300%;
    animation: moveGradient 15s infinite linear;
}
#menu .links-container {
    display: flex;
    justify-content: center; 
    gap: 90px; 
    margin-top: 10px; 
    margin-bottom: -25px;
}

.small-text {
    font-size: 15px;
    color: rgb(29, 29, 29);
    cursor: pointer;
}

.small-text:hover {
    color: #1e90ff;
}
